<form action="create-form">
  <div class="form-group">
    <label for="question"></label>
    <input type="text" class="form-control" id="question" placeholder="Enter question" [(ngModel)]="quizService.newQuestion.question" name="question">
  </div>

  <div class="button-container">
    <div class="bubble-button">
        <input type="text" id="input1" placeholder="Input 1" [(ngModel)]="quizService.newQuestion.answer1" name="answer1">
        <input type="radio" name="answer" [(ngModel)]="quizService.newQuestion.correctAnswer"value="1">
    </div>
    <div class="bubble-button">
        <input type="text" id="input2" placeholder="Input 2" [(ngModel)]="quizService.newQuestion.answer2" name="answer2">
        <input type="radio" name="answer" [(ngModel)]="quizService.newQuestion.correctAnswer"value="2">
    </div>
    <div class="bubble-button">
        <input type="text" id="input3" placeholder="Input 3" [(ngModel)]="quizService.newQuestion.answer3" name="answer3">
        <input type="radio" name="answer"[(ngModel)]="quizService.newQuestion.correctAnswer"value="3">
    </div>
    <div class="bubble-button">
      <input type="text" id="input4" placeholder="Input 4" [(ngModel)]="quizService.newQuestion.answer4" name="answer4">
      <input type="radio" name="answer"[(ngModel)]="quizService.newQuestion.correctAnswer"value="4">
    </div>
  </div>

  <div class="submit-form">
    <button type="submit" (click)="onSubmit();wasAdded()" [disabled]="!quizService.newQuestion.isValid() || isDisable()" >Add Question</button>
  </div>
  <div class="delete-question">
    <button type="reset">Reset</button>
  </div>
</form>




