<div *ngFor="let quizTitle of adminQuiz">
  <h3>{{ quizTitle.quiz }}</h3>

  <!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{quizTitle.title}}</h5>
      <p class="card-text">{{quizTitle.description}}</p>
      <a href="#" class="btn btn-primary">Edit Quiz</a>
      <a href="#" class="btn btn-primary">Delete Quiz</a>
    </div>
  </div> -->
</div>

 <!--  <div>
    <button (click)="editQuiz(quiz)">Edit Quiz</button> -->
    <!-- <button (click)="deleteQuiz(quiz)">Delete Quiz</button> -->


